<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>

  <header>
    <%- include('navbar') %>
  </header>

  <div class="container">
    <div class="container py-5 text-center">
      <h2 class="mb-5">Bienvenido a Voltia Drive <%= usuario.nombre %></h2>

      <div class="row gy-3 justify-content-center gap-5">

        <div class="col-auto">
          <img src="<%= usuario.imagen %>" 
              alt="foto perfil usuario" 
              class="shadow-lg" 
              style="width: 250px; object-fit: cover;">
        </div>

        <div class="col-auto d-flex ">
          <ul class=" container p-5 text-start shadow-lg">
            <li><h5>Nombre: <%= usuario.nombre %></h5></li>
            <li><h5>Correo: <%= usuario.correo %></h5></li>
            <li><h5>Telefono: <%= usuario.telefono %></h5></li>
            <li><h5>Rol: <%= usuario.rol %></h5></li>
            <li><h5>Concesionario: <%= usuario.id_concesionario %></h5></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container d-flex justify-content-center">
      <div class="row gy-3 gap-5 mb-5 text-center">
        <div class="col">
          <div class="container p-4 shadow-lg">
            <a href="/vehiculos" class="btn btn-dark mb-3">Ver Vehiculos</a>
            <p>Muestra todos los vehículos disponibles para reservar.</p>
          </div>
        </div>
        <div class="col">
          <div class="container p-4 shadow-lg">
            <a href="/vehiculos/reservas" class="btn btn-dark mb-3">Ver mis Reservas</a>
            <p>Consulta las reservas que tienes activas o pendientes.</p>
          </div>
        </div>
        <div class="col">
          <div class="container p-4 shadow-lg">
            <a href="/perfil" class="btn btn-dark mb-3">Ver mi Perfil</a>
            <p>Accede a tu perfil para gestionar tu información personal.</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>

  <div class="container-fluid p-0">
    <img src="/media/coche.png" alt="foto de fondo de coche " class="w-100">
  </div>

  <footer>
    <!--Importamos el footer que tenemos creado-->
    <div id="footer-container"></div>
    <script>
      fetch('/footer.html')
        .then(response => response.text()) //load footer.html content
        .then(html => {
        document.getElementById('footer-container').innerHTML = html; 
      });
    </script>
  </footer>
    
</body>
</html>
