<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/stylesInicio.css">
</head>
<body>

  <header>
    <%- include('navbar') %>
  </header>

  <div class="container-main">
    <div class="container container-padding-large text-center">
      <h2 class="mb-5">Bienvenido a la página de inicio</h2>
      <div class="row gy-3 justify-content-center gap-5">
        <div class="col-auto">
          <img src="<%= usuario.imagen %>" 
              alt="foto perfil usuario" 
              class="shadow-sm" 
              style="width: 250px; object-fit: cover;">
        </div>

        <div class="col-auto d-flex">
          <ul class="sin-puntos text-start">
            <li>Nombre: <%= usuario.nombre %></li>
            <li>Correo: <%= usuario.correo %></li>
            <li>Telefono: <%= usuario.telefono %></li>
            <li>Rol: <%= usuario.rol %></li>
            <li>Concesionario: <%= usuario.id_concesionario %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container d-flex justify-content-center">
      <div class="row gy-3 gap-4 mb-5">
        <div class="col">
          <div class="box box-tall">
            <a href="/vehiculos" class="btn btn-dark mb-3">Ver Vehiculos</a>
            <p>Muestra todos los vehículos disponibles para reservar.</p>
          </div>
        </div>
        <div class="col">
          <div class="box box-tall">
            <a href="/vehiculos/reservas" class="btn btn-dark mb-3">Ver mis Reservas</a>
            <p>Consulta las reservas que tienes activas o pendientes.</p>
          </div>
        </div>
        <div class="col">
          <div class="box box-tall">
            <a href="/perfil" class="btn btn-dark mb-3">Ver mi Perfil</a>
            <p>Accede a tu perfil para gestionar tu información personal.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-foto-fondo">
      <img src="/media/coche.png" alt="foto de fondo">
    </div>
  </div>
    <footer>
      <!--Importamos el footer que tenemos creado-->
      <div id="footer-container"></div>
      <script>
        fetch('/footer.html')
          .then(response => response.text()) //load footer.html content
          .then(html => {
          document.getElementById('footer-container').innerHTML = html; 
        });
      </script>
    </footer>
    
  </div>
</body>
</html>
